---
import Layout from "../layouts/Layout.astro"
import { $personData } from "../lib/personDataApi"
import InstrumentBadge from "../components/InstrumentBadge.astro"

const personData = await $personData
---

<Layout title="Roman makes music">
    <main class="mx-auto max-w-screen-lg space-y-16 px-4 md:mt-16">
        <section
            class:list={[
                "flex flex-col-reverse items-center justify-between py-4 text-center md:flex-row  md:text-left",
                "relative",
            ]}
        >
            <div
                class:list={[
                    "absolute bottom-0 left-[-2rem] right-[-1rem] top-0 z-[-1]",
                    "to-astro backdrop-blur-10 bg-gradient-to-r from-blue-300/90 blur-lg",
                    "rounded-[5rem] border",
                ]}
            >
            </div>
            <header class="text-primary">
                <h1>{personData.name}</h1>
                <ul class="space-x-4">
                    {personData.instruments.map(instrument => <InstrumentBadge type={instrument} />)}
                </ul>
            </header>
            <img
                src={personData.imageUrl}
                alt={personData.name}
                class="border-transparend h-48 w-48 rounded-full border"
            />
        </section>
        <section>
            <h2 class="text-primary">Find me here</h2>
            <p></p>
            <ul>
                <li></li>
            </ul>
        </section>
    </main>
</Layout>

<style></style>
